body{
    font-family: 'Source Serif Pro', serif;
}

section {
    background-color: white;
    border: solid black 1px;
}

.hero {
    background-color: #201919;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

footer {
    background-color: #201919;
    color:white;
    text-align: center;
    padding: 80px;

}


nav {
    display: flex;
    justify-content: space-between;
}

ul { 
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}



li {
    text-decoration: none;
}

h1 {
    font-size: 70px;
    margin: 0px;
}

h2 {
    font-size: 45px;
}

h3 {

    font-size: 24px;
}

p {
    margin: 0px;
    font-size: 30px;
    font-weight: 350;
}

.subtext {
    font-size: 15px;
    font-weight: 400;
}


.subtext-link {
    font-size: 20px;

}

.subtext-link:hover {
    transform: scale(1.2, 1.2);

}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items:center;
}

.hero-text{
    margin-left: 40px;
    margin-bottom: 200px;
}

.button {
   width: 190px;
   height: 50px;
   border-radius: 20px;
   background-color: rgb(107, 11, 11);
   text-align: center;
   font-size: 30px;
   font-weight: 300;
   padding-top: 10px;
   margin-top: 20px;
}

.button:hover {
    background-color:rgb(124, 23, 23)
}

.button:active {
    background-color: rgb(255, 255, 255);
    color: #808080;
}

.socials {
    padding-bottom: 200px;
        
}

.logo{
    height: 100px;
    margin: 30px;
}

.social {
    margin: 10px;

    }


.social-move:hover {
    transform: scale(1.2, 1.2); 
   
}


.sub-section{
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding:80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}


  iframe {
    border-radius: 50px;
  }


.headshot-container {
    display:flex;
    align-items:center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 6px 20px rgb(202, 199, 199);
    margin: 10px;
}

.project-container {
    display:flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display:flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top:25px;
    width: 180px;
    height: 200px;
    border-radius:125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color:rgb(107, 11, 11);
    font-weight:550;

}


a {
    text-decoration: none;
    color: White;
}

.hamburger {
    display: none;
}

.hamburger.focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display:block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display:none;
        background-color: rgb(58, 49, 49);
        margin: 0px;
    }

    ul.show {
        display:block;
    
    }

    nav {
        display:flex;
        flex-direction: column-reverse;
        background-color: rgb(58, 49, 49);
    }

    .logo {
        display: none;
    }
}